@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: visible;
}

/* Commonly Used */

:root {
  /* Color Pallete */
  --darkBlue-color: #11324d;
  --lightBlue-color: #6b7aa1;
  --green-color: #c1cfc0;
  --white-color: #e7e0c9;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/* New Nav Bar */

html,
body {
  height: 100%;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkBlue-color);
  color: #fff;
  height: 80px;
  padding: 1em;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 1px 11px 14px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 11px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 11px 14px -1px rgba(0, 0, 0, 0.75);
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

label.logo {
  color: var(--white-color);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  cursor: pointer;
}

.nav-links a {
  color: var(--white-color);
  font-size: 20px;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: #6b7aa1;
}

.logo:hover {
  color: var(--lightBlue-color);
}

.nav-icons {
  font-family: 'FontAwesome';
  color: var(--white-color);
}

.nav-icons i {
  font-style: normal;
  font-size: 25px;
  padding: 0 20px;
}

@media (max-width: 750px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    /* display: none; */
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    /* display: flex; */
    border: 1px solid var(--white-color);
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1em 0;
    width: 100%;
    color: var(--white-color);
    background-color: #222;
    background-color: rgb(17, 50, 77, 99%);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  label.logo {
    padding: 0;
  }
  .nav-icons i {
    padding: 0 35px;
  }
}

.section-title {
  color: var(--darkBlue-color);
  font-size: 40px;
  padding-bottom: 20px;
}

/* OLD Navigation Bar/Header */

/* nav {
  overflow: visible;
  background: var(--darkBlue-color);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 1px 11px 14px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 11px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 11px 14px -1px rgba(0, 0, 0, 0.75);
}

label.logo {
  color: var(--white-color);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  cursor: pointer;
}

.logo:hover {
  color: var(--lightBlue-color);
}

.nav-links {
  float: right;
  margin-right: 100px;
}

.nav-links li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.nav-links a {
  color: var(--white-color);
  font-size: 17px;
  text-transform: uppercase;
}

.nav-links a:hover {
  background: #6b7aa1;
}

.checkbtn {
  color: white;
  float: right;
  line-height: 100px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#hamburger {
  font-size: 35px;
}

#check {
  display: none;
}

@media (max-width: 750px) {
  label.logo {
    padding: 50px 30px 0;
  }

  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 50vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  .nav-links li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover {
    background: none;
    color: #6b7aa1;
  }

  #check:checked ~ ul {
    left: 0;
  }
} */

/* Intro Section */
.intro {
  height: 100vh;
  /* height: calc(100vh - 80px); */
  background: var(--lightBlue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--white-color);
  padding-bottom: 100px;
}

.intro h1 {
  padding-bottom: 75px;
  font-size: 70px;
}
.intro p {
  padding-bottom: 50px;
  font-size: 50px;
}

.intro small {
  font-size: 20px;
}

.links-container {
  padding-top: 150px;
}
.links-container a {
  padding: 0 40px 0;
}
.links-container i {
  font-family: 'FontAwesome';
  font-style: normal;
  color: var(--white-color);
}

.links-container .fa-linkedin:hover,
.links-container .fa-github-square:hover,
.links-container .fa-envelope:hover {
  color: var(--darkBlue-color);
}

.float-icon {
  display: inline-block;
  animation: float 5s ease-in-out infinite;
}
.links-container .fa-github-square {
  animation-delay: 0.5s;
}

.links-container .fa-envelope {
  animation-delay: 1s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 750px) {
  #intro {
    padding: 5% 10% 10%;
  }
  .intro h1,
  .intro p {
    text-align: center;
  }
  .intro small {
    padding-left: 20px;
  }
  .links-container a {
    padding: 0 20px;
  }
}

/* About Section  */
.about {
  background: var(--green-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.about img {
  height: 350px;
  width: 315px;
  border-radius: 15%;
  padding-bottom: 20px;
}

.about p {
  font-size: 20px;
  width: 100%;
  text-align: left;
  padding: 0 10% 10px 30%;
}

#profile-img {
  margin: 40px 0;
}

/* Resume */
#resume {
  padding-top: 100px;
}

.resume-link {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: 'Hubballi', cursive;
  font-size: 25px;
  margin-top: 10px;
}

.resume-link:hover {
  transform: translateX(5px);
  font-style: italic;
}

@media (max-width: 750px) {
  .about p {
    padding-left: 10%;
  }
}

/* Skill Section */
.skills {
  width: 100%;
  background: var(--green-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 20% 40px 20%;
}

.skills p {
  font-size: 18px;
}
.skill-box {
  text-align: center;
  padding: 20px;
}

.skill-box p {
  padding-top: 10px;
}

.fa-html5:hover,
.fa-css3-alt:hover,
.fa-js:hover,
.fa-react:hover,
.fa-bootstrap:hover,
.fa-python:hover,
.fa-git-alt:hover,
.fa-github:hover,
.fa-mobile:hover {
  color: var(--lightBlue-color);
}

.skill-list {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.skill-list i {
  font-family: 'FontAwesome';
  color: var(--darkBlue-color);
  font-style: normal;
}

@media (max-width: 750px) {
  .skill {
    padding: 0 40px;
  }
  .skill-list {
    width: 375px;
  }
  .skill-box {
    width: 125px;
  }
}

/* Project Section */
.projects {
  width: 100%;
  padding: 100px 100px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--green-color);
}

.projects a {
  padding: 0 10px 0 0;
  font-family: 'Hubballi', cursive;
  font-size: 23px;
}

.projects a:hover {
  font-style: italic;
}

.project-standard {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-bottom: 100px;
}

.project-name {
  width: 35%;
  font-size: 35px;
  padding: 50px 0 20px 25px;
  color: var(--lightBlue-color);
}

.project-skills {
  font-style: italic;
  font-family: 'Hubballi', cursive;
  font-size: 22px;
  padding-top: 15px;
}

.project-left {
  width: 40%;
  margin-left: 200px;
}

.project-left h4 {
  padding: 20px 0 10px 25px;
  font-size: 25px;
}

.project-left p {
  padding-bottom: 15px;
}

.project-1-pic {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  margin: 20px;
  margin-left: 200px;
}

.project-1-pic:hover,
.project-2-pic:hover {
  box-shadow: 1px 9px 9px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 9px 9px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 9px 9px -1px rgba(0, 0, 0, 0.75);
}

.project-2-pic {
  height: 500px;
  width: 300px;
  border-radius: 5%;
  margin: 20px;
  margin-left: 250px;
}

@media (max-width: 750px) {
  #featured-projects {
    padding-left: 75px;
  }

  .projects {
    padding: 20% 10px;
  }

  .project-standard {
    width: 350px;
    flex-direction: column;
    align-items: center;
    padding: 0 0px;
  }
  .project-name {
    width: 100%;
  }

  .project-left {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }

  .project-right img {
    z-index: 1;

    /* margin: 50px 0 50px 250px; */
    /* transform: translateX(-128px); */
    margin: 50px 0 50px 0px;
  }
  .project-1-pic {
    height: 300px;
    width: 300px;
  }
  .project-2-pic {
    height: 437.5px;
    width: 262.5px;
  }
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
  background-color: var(--darkBlue-color);
}

.footer .links-container {
  padding: 0;
}

.footer .fa-linkedin:hover,
.footer .fa-github-square:hover,
.footer .fa-envelope:hover {
  color: var(--lightBlue-color);
}

.footer p {
  color: var(--white-color);
  text-align: center;
  padding: 0 0 10px 0px;
}
